h1 {
  font-family: "Courier New", Courier, monospace;
}
.fasgg {
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}
.form-control {
  width: 1000px;
  height: 40px;
  background-color: #1b1e21;
  color: white;
}

.form-control:focus {
  width: 1000px;
  height: 40px;
  background-color: #1b1e21;
  color: white;
}
